<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='css/creative.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css" />
    <title>{{ page_title }}</title>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">WELCOME  {{ session['username'] }} </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('rules') }}">Rules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('history') }}">Our History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('leaderboard') }}">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h2 class="text-uppercase">
              
            
         {% for qa in qa  %}
              {% if loop.index0 <=0 %}
                <h2 class="primary">{{ qa.question }}</h2> 
            </h2>
            
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
          
             <form name="myForm" id = "form" action="" method="post" onsubmit="">
              <input class="d-none" type="hidden Submit" name="answer" id="answer" value="{{ qa.answer }}" />           
              <input class="btn btn-primary mt-3 mx-5 btn-xl js-scroll-trigger" type="Submit" name="player_answer" id="answer1" value="{{ qa.A }}" />  
              <input class="btn btn-primary mt-3 mx-5 btn-xl js-scroll-trigger" type="Submit" name="player_answer" id="answer2" value="{{ qa.B }}" />  
              <input class="btn btn-primary mt-3 mx-5 btn-xl js-scroll-trigger" type="Submit" name="player_answer" id="answer3" value="{{ qa.C }}" />
              <input class="btn btn-primary mt-3 mx-5 btn-xl js-scroll-trigger" type="Submit" name="player_answer" id="answer4" value="{{ qa.D }}" />
            </form>
            
            {% endif %}
            {% endfor %}
          
          </div>
        </div>
      <a class="btn btn-primary my-5 btn-xl js-scroll-trigger" href="{{ url_for('round2') }}">NEXT</a>
      </div>
       <a class="btn btn-primary my-5 btn-xl js-scroll-trigger"> your current score are {{ session['score'] }}</a>
    </header>

    <!-- Bootstrap core JavaScript -->
    
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/scrollreveal/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/magnific-popup/jquery.magnific-popup.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/creative.min.js') }}"></script>
    <script type="text/javascript" src="">
     function postData(answer) {
  $('#answer1'|| '#answer2' || '#answer3' || '#answer4').on('click', function(){
         document.getElementById(answer).submit()
       })
     }
   
   </script>
   <script type="text/javascript">

(function(){
   setTimeout(function(){
     window.location="/round3";
   },60000); /* 1000 = 1 second*/
})();
</script>
</body>

</html>